<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="Gas ORM Test Suite">
            <directory>./third_party/gas/tests/</directory>
            <directory suffix="Test.php" phpVersion="5.3.0" phpVersionOperator=">=">./third_party/gas/tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>