.highlight .k { color: #5CE638 !important; } 
.highlight .nn { color: #EAEAEA !important; } 
.highlight .o { color: #dd0000; } 
.highlight .s { color: #E0C61B; } 
.highlight .mi { color: #1878CC; } 
.highlight .p, .n, .nb, .nv { color: #fff; } 